<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRygmP5xZ7vGxorZBQf5puq-yIllajwsg</string>
	<key>GCM_SENDER_ID</key>
	<string>875966624692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webminix.rotijugaad</string>
	<key>PROJECT_ID</key>
	<string>rotijugaad</string>
	<key>STORAGE_BUCKET</key>
	<string>rotijugaad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875966624692:ios:8a6e072acb9ba5932678e1</string>
</dict>
</plist>